<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDHgeWZFo5I2uTZXcdm6enAzCVm2GqALc</string>
	<key>GCM_SENDER_ID</key>
	<string>999555455547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pylearnplay</string>
	<key>PROJECT_ID</key>
	<string>pylearnplay-76d50</string>
	<key>STORAGE_BUCKET</key>
	<string>pylearnplay-76d50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999555455547:ios:e52719a74978adc831da1e</string>
</dict>
</plist>